@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "Home Page";
}

    <main id="ape-grid">
    <div id="requirements" class="block">
        <p id="whereissam"></p>
        <h2>Requirements</h2>
        <div id="accordion">
        </div>
    </div>

    <div id="plan" class="block">
        <div id="plan-header">
            <h2 id="plan-name">Academic Plan</h2>
            <div id="plan-info">
                <p id="major"><span class="tag">Major</span></p>
                <p id="minor"><span class="tag">Minor</span> Bible</p>
                <p id="gpa"><span class="tag">GPA</span> 3.7</p>
                <p id="major-gpa"><span class="tag">Major GPA</span> 3.2</p>
                <p id="total-hours"><span class="tag">Total Hours</span> 137</p>
                <p id="catalog"><span class="tag">Catalog</span></p>
            </div>
        </div>
        <div class="plan-grid">
        </div>
    </div>

    <div class="block">
    </div>

    <div id="course-finder" class="block">
        <div id="course-header">
            <h2>Course Finder</h2>
            <input type="text" id="searchBar" onkeyup="searchCourses()" name="courseSearch">
            <p id="numEntries"></p>
            <div class="btn" id="delete-button" ondragover='onDragOver(event);' ondragleave='onDragLeave(event);' ondrop='deleteCourse(event);'>
                <img src="delete-button.png" alt="delete icon" width="30" height="30">
                <p><b>Delete</b></p>
            </div>
        </div>
        <table id="courses-table">
            <thead>
                <tr>
                    <th onclick="sortTable(0)">Credits</th>
                    <th onclick="sortTable(1)">Course ID</th>
                    <th onclick="sortTable(2)">Course Name</th>
                    <th onclick="sortTable(3)">Description</th>
                </tr>
            </thead>
            <tbody id="courses-body">
            </tbody>
        </table>
    </div>
</main>



