<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - project5</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/project5.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
       <div>
            <h1 id="title"><a asp-area="" asp-controller="Home" asp-action="Index">ACADEMIC PLANNING</a></h1>
        </div>
        <div id="controls">
            <a class="btn">Save</a>
            <a class="btn">Manage Plans</a>
            <a class="btn" asp-area="" asp-controller="Catalogs" asp-action="Index">Catalogs</a>
            <a class="btn" asp-area="" asp-controller="Faculties" asp-action="Index">Faculties</a>
            <a class="btn" asp-area="" asp-controller="Administrators" asp-action="Index">Admin</a>
            <partial name="_LoginPartial" />
        </div>
    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/dragndrop.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
