@using Microsoft.AspNetCore.Identity
@using project5.Areas.Identity.Data

@inject SignInManager<project5User> SignInManager
@inject UserManager<project5User> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <a class="btn" asp-area="Identity" asp-page="/Account/Manage/Index"><img src="account-icon.png" alt="account icon" width="30" height="30">Account</a>
    <a class="btn" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">Logout</a>
}
else
{
    <a class="btn" asp-area="Identity" asp-page="/Account/Register">Register</a>
    <a class="btn" asp-area="Identity" asp-page="/Account/Login">Login</a>
}
