body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 66vh; /* to align it on the upper third */
    margin: 0;
    background-color: var(--accent);
    background-image: url("login-desert.webp");
}

.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.form-group {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

    input:focus {
        outline: 2px solid var(--primary)
    }

.btn {
    width: 100%;
    font-weight: 500;
}
